<h1>Welcome <%=@user.username %></h1>


<a href="/logout"class="btn btn-primary">Log out</button></a>

<div class="center">
<h3>Your Lists </h3> <b>
<% @tasks.each do |t|%>
<% if t.user_id == @user.id %>
<br>
 <%= t.title%><a href="/tasks/<%= t.id%>/edit"> Edit list</a><br>
 <%= t.description%><br>
Created at: <u><%=t.created_at%></u><br>
Last updated: <u><%=t.updated_at%></u><br>
<%end%>
<%end%>
<br>
</div>

<a href="/tasks/new" class="btn btn-primary">Create List</a>




