<h1> WELCOME TO MY PROJECT. </h1>

<a href="/logout"<button type="button" class="btn btn-default">Log out</button></a>

<% @tasks.each do |t|%>
<br>
Title: <%= t.title%> - <%=t.id%><a href="/tasks/edit">Update</a><br>
Description: <%= t.description%><br>
Created at: <u><%=t.created_at%></u><br>
Last updated: <u><%=t.updated_at%></u><br>
<%end%>
<br>


